@import "variables.scss";

div {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: $headerFont;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 4em;
}

body {
  background-color: $colorBackground;
  font-family: $defaultFont;
  color: $colorWhite;
  font-size: 14px;
  .container {
    .header-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $colorHeaderBackground;
      padding: 100px 0;
      header {
        color: $colorWhite;
        width: 100%;
        max-width: $maxWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .profile-image {
          background: url('../images/profile.jpg') center;
          background-size: cover;
          width: $headerImageSize;
          height: $headerImageSize;
          border-radius: $headerImageSize / 2;
        }
        h1 {
          margin: $gutterLg;
        }
        hr {
          padding: 0;
          border: none #fff;
          border-top: 5px solid;
          text-align: center;
          max-width: 250px;
          margin: 0 auto $gutterLg;
          width: 250px;
        }
        .social-button-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          @media all and (min-width: 480px) {
            flex-direction: row;
          }
          .social-button-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            a.item {
              border: 2px solid $colorWhite;
              width: $socialButtonSize;
              height: $socialButtonSize;
              border-radius: $socialButtonSize / 2;
              margin: $gutterSm;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: $colorWhite;
              font-size: 1.4em;
              text-decoration: none;
              box-sizing: border-box;
              transition: all .3s ease-in-out;

              &:hover {
                transform: scale(1.2);
                background-color: $colorWhite;
                color: $colorHeaderBackground;
              }
            }
          }
        }
      }
    }
    .body-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .body {
        padding: $gutterMd;
        width: 100%;
        max-width: $maxWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 20px;
          text-align: center;
        }
        a {
          font-weight: bold;
          color: $colorWhite;
          line-height: 1.2em;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .badge {
          background-color: darken($colorBackground, 10%);
        }
      }
    }
  }
}

