
@import "variables.scss";

div {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: 'Roboto', sans-serif;
    color: $default-text-color;
    padding: 0 5px;
}

.container {  
    background-color: $container-bg-color;
    padding-bottom: 50px;

    .picture {
        min-height: 300px;
        background-image: url("../images/profile_picture.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .main-header {
        margin: $default-spacing 0 $default-spacing 0;
        h1 {
            margin: 0;
            padding: 0;
        }

        p {
            line-height: 25px;
            margin: 0;
            padding: 0;
            font-size: 1rem;
            color: darken($default-text-color, 0.5);
        }
        .extra-info {
            color: light-gray;
            display: flex;
            align-content: flex-start;
            font-size: 0.9em;
            line-height: 25px;
            .item {
                margin-right: 5px;
                color: #a5a5a5;
                a, a:visited, a:hover, a:active {
                    margin-left: 5px;
                    text-decoration: none;
                    color: #a5a5a5;
                }
                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }

    .button-bar {
        background-color: $color1;
        color: white;
        display: flex;
        align-items: stretch;
        font-weight: bold;
        .button {
            width: 50%;
            text-align: center;
            padding: 20px;
            &:first-child {
                border-right: 1px solid lighten($color1, 0.5);
            }
            a {
                text-decoration: none;
                color: $white;
                margin-left: 10px;
            }
        }
    }

    .header {
        font-weight: bold;
        margin-top: 2rem;
        border-bottom: 1px solid $color1;
        span {
            color: white;
            background-color: $color1;
            padding: 5px 12px;
            display: inline-block;
        }
    }

    .social-media-wrapper {
        display: flex;
        padding: 5px 0;
        color: white;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-right: -5px;
        .item {
            text-align: center;
            padding: 15px;
            margin-right: 5px;
            flex-grow: 1;
            margin-bottom: 5px;
            background-color: $color2;
            span {
                margin-left: 5px;
            }
            a {
                margin-left: 5px;
                text-decoration: none;
                color: white;
            }
            &:last-child {
                flex-grow: 0;
            }
        }
        
    }

    .technologies-wrapper {
        display: flex;
        padding: 5px 0;
        color: white;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-right: -5px;
        .item {
            text-align: center;
            padding: 5px;
            margin-right: 5px;
            flex-grow: 1;
            margin-bottom: 5px;
            background-color: $color4;
            span {
                margin-left: 5px;
                &.no-margin {
                    margin: 0;
                }
            }
            &:last-child {
                flex-grow: 0;
            }
        }
    }

    .contact-wrapper {
        display: flex;
        padding: 5px 0;
        color: white;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-right: -5px;
        .item {
            text-align: center;
            padding: 15px;
            margin-right: 5px;
            flex-grow: 1;
            margin-bottom: 5px;
            background-color: $color3;
            span {
                margin-left: 5px;
            }
            
        }
    }

     .certifications-wrapper {
        display: flex;
        padding: 5px 0;
        color: #222222;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-right: -5px;
        .item {

            padding: 15px;
            margin-right: 5px;
            flex-grow: 1;
            margin-bottom: 5px;
            background-color: $color5;
            span {
                margin-left: 5px;
            }
        }
    }

    .open-source-wrapper {
        display: flex;
        padding: 5px 0;
        color: white;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-right: -5px;
        .item {
            text-align: center;
            padding: 15px;
            margin-right: 5px;
            flex-grow: 1;
            margin-bottom: 5px;
            background-color: $color2;
            span {
                margin-left: 5px;
            }
            a {
                margin-left: 5px;
                text-decoration: none;
                color: white;
            }
            &:last-child {
                flex-grow: 0;
            }
        }
    }

    .open-source-past-wrapper {
        display: flex;
        padding: 5px 0;
        color: white;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-right: -5px;
        .item {
            text-align: center;
            padding: 15px;
            margin-right: 5px;
            flex-grow: 1;
            margin-bottom: 5px;
            background-color: lighten($color2, 20%);
            span {
                margin-left: 5px;
            }
            a {
                margin-left: 5px;
                text-decoration: none;
                color: white;
            }
            &:last-child {
                flex-grow: 0;
            }
        }
    }

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
}