// Colors
$colorWhite:                white;
$colorBackground:           #4a95df;
$colorHeaderBackground:     #252934;

// Sizes
$maxWidth:                  1000px;
$headerImageSize:           200px;
$gutterSm:                  8px;
$gutterMd:                  16px;
$gutterLg:                  25px;
$socialButtonSize:          50px;

// Fonts
$defaultFont:               'Lato', sans-serif;
$headerFont:                Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

