$white:             white;    
$background-color:  white;
$container-bg-color: white;
$default-text-color:    #222222;
$color1:            #2364AA;
$color2:            #EA7317 ;
$color3:            #73BFB8;
$color4:            #3DA5D9;

$default-spacing:   20px;